@charset "UTF-8";

form {
	text-align: center;
}

input.btn{
	background-color:#808080;
	width:150px;
	display:inline-block;

}


.sample2{
	width:150px;
}
.box {
	width:100px;
}
	.sampleTable {
    border-collapse: collapse;
    table-layout: fixed;
}
.add{
	width:200px;
	
}
.category {
	color:#ba55d3;
}
.pull {
	color:#ba55d3;
}